Salut,

Dans le premier volet de notre travail nous évaluons les méthodes de découverte de discrimination.

Les méthodes sont évaluées sur les métriques suivantes :
-	TSN (Total Sample Number) : Le nombre total d'échantillons générés ou testés lors d'une expérience de test d'équité algorithmique.
-	DSN (Discriminatory Sample Number) : Le nombre d'échantillons discriminatoires détectés parmi les échantillons testés.
-	DSS (Discriminatory Sample Search time) : Le temps moyen nécessaire pour générer un échantillon discriminatoire, calculé généralement en divisant le temps total par le nombre d'échantillons discriminatoires trouvés.
-	SUR (Success Rate) : Le taux de réussite dans la génération d'échantillons discriminatoires, calculé en divisant le nombre d'échantillons discriminatoires (DSN) par le nombre total d'échantillons générés (TSN).

Les méthodes évaluées sont :
-	Aequitas : Automated directed fairness testing (2018) 
-	EXPGA : Explanation-Guided Fairness Testing through Genetic Algorithm (2022) 
-	SG : Black box fairness testing of machine learning models (2019)
-	ADF : White-box fairness testing through adversarial sampling (2020)





Dans les dernières semaines j’ai travaillé à faire en sorte que l’on génère de la donnée synthétique de qualité pour nos test

In [2]:
import pandas as pd

# Create a combined DataFrame
combined_df = pd.DataFrame()

# Table 3: MLP model
mlp_data = pd.DataFrame({
    'Model': ['MLP'] * 6,
    'Dataset': ['Census', 'Census', 'Census', 'Credit', 'Credit', 'Bank'],
    'Feature': ['gender', 'age', 'race', 'gender', 'age', 'age'],
    'ExpGA_TSN': [491323, 43465, 90303, 281130, 46357, 46802],
    'ExpGA_DSN': [141049, 29467, 30171, 65009, 34048, 27099],
    'ExpGA_DSS': [0.03, 0.12, 0.12, 0.06, 0.11, 0.13],
    'ExpGA_SUR': [28.70, 67.79, 33.41, 23.12, 73.44, 57.90],
    'SG_TSN': [85629, 12243, 22053, 38096, 11756, 14808],
    'SG_DSN': [1797, 1107, 551, 1596, 5146, 2915],
    'SG_DSS': [2.00, 3.25, 6.53, 2.26, 0.70, 1.23],
    'SG_SUR': [2.10, 9.04, 2.50, 4.19, 43.77, 19.68],
    'ADF_TSN': [7070, 4190, 4355, 7569, 7699, 3776],
    'ADF_DSN': [871, 1530, 588, 1321, 4659, 2592],
    'ADF_DSS': [4.13, 2.35, 6.12, 2.73, 0.77, 1.39],
    'ADF_SUR': [12.31, 36.51, 13.50, 17.45, 60.50, 68.63],
})

# Table 4: RF model
rf_data = pd.DataFrame({
    'Model': ['RF'] * 6,
    'Dataset': ['Census', 'Census', 'Census', 'Credit', 'Credit', 'Bank'],
    'Feature': ['gender', 'age', 'race', 'gender', 'age', 'age'],
    'ExpGA_TSN': [274521, 51192, 78349, 20295, 10183, 13284],
    'ExpGA_DSN': [156259, 46035, 47810, 4247, 3673, 8885],
    'ExpGA_DSS': [0.02, 0.08, 0.08, 0.85, 0.98, 0.41],
    'ExpGA_SUR': [56.92, 89.93, 61.02, 20.93, 36.07, 66.99],
    'SG_TSN': [56776, 21330, 29309, 3245, 869, 3952],
    'SG_DSN': [1210, 13472, 362, 148, 153, 941],
    'SG_DSS': [2.98, 0.27, 9.94, 24.32, 23.53, 3.83],
    'SG_SUR': [2.13, 63.16, 1.24, 4.56, 17.60, 23.81],
    # ADF columns aren't in the RF table, so fill with NaN
    'ADF_TSN': [None] * 6,
    'ADF_DSN': [None] * 6,
    'ADF_DSS': [None] * 6,
    'ADF_SUR': [None] * 6,
})

# Table 5: SVM model
svm_data = pd.DataFrame({
    'Model': ['SVM'] * 6,
    'Dataset': ['Census', 'Census', 'Census', 'Credit', 'Credit', 'Bank'],
    'Feature': ['gender', 'age', 'race', 'gender', 'age', 'age'],
    'ExpGA_TSN': [804328, 124816, 226434, 118428, 21058, 42746],
    'ExpGA_DSN': [145226, 78064, 78627, 47570, 9377, 29574],
    'ExpGA_DSS': [0.02, 0.05, 0.05, 0.08, 0.38, 0.12],
    'ExpGA_SUR': [18.06, 62.54, 34.72, 40.17, 44.53, 69.19],
    'SG_TSN': [109706, 81275, 62954, 152432, 53344, 31276],
    'SG_DSN': [386, 2489, 277, 3683, 8419, 41],
    'SG_DSS': [9.33, 1.45, 13.0, 0.98, 0.43, 87.80],
    'SG_SUR': [0.35, 3.06, 0.44, 2.42, 15.78, 0.13],
    # ADF columns aren't in the SVM table, so fill with NaN
    'ADF_TSN': [None] * 6,
    'ADF_DSN': [None] * 6,
    'ADF_DSS': [None] * 6,
    'ADF_SUR': [None] * 6,
})

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat([mlp_data, rf_data, svm_data], ignore_index=True)
combined_df

C:\Users\gen06917\AppData\Local\Temp\ipykernel_28252\119200584.py:66: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat([mlp_data, rf_data, svm_data], ignore_index=True)

,Model,Dataset,Feature,ExpGA_TSN,ExpGA_DSN,ExpGA_DSS,ExpGA_SUR,SG_TSN,SG_DSN,SG_DSS,SG_SUR,ADF_TSN,ADF_DSN,ADF_DSS,ADF_SUR
0,MLP,Census,gender,491323,141049,0.03,28.70,85629,1797,2.00,2.10,7070,871,4.13,12.31
1,MLP,Census,age,43465,29467,0.12,67.79,12243,1107,3.25,9.04,4190,1530,2.35,36.51
2,MLP,Census,race,90303,30171,0.12,33.41,22053,551,6.53,2.50,4355,588,6.12,13.50
3,MLP,Credit,gender,281130,65009,0.06,23.12,38096,1596,2.26,4.19,7569,1321,2.73,17.45
4,MLP,Credit,age,46357,34048,0.11,73.44,11756,5146,0.70,43.77,7699,4659,0.77,60.50
5,MLP,Bank,age,46802,27099,0.13,57.90,14808,2915,1.23,19.68,3776,2592,1.39,68.63
6,RF,Census,gender,274521,156259,0.02,56.92,56776,1210,2.98,2.13,None,None,NaN,NaN
7,RF,Census,age,51192,46035,0.08,89.93,21330,13472,0.27,63.16,None,None,NaN,NaN
8,RF,Census,race,78349,47810,0.08,61.02,29309,362,9.94,1.24,None,None,NaN,NaN
9,RF,Credit,gender,20295,4247,0.85,20.93,3245,148,24.32,4.56,None,None,NaN,NaN
10,RF,Credit,age,10183,3673,0.98,36.07,869,153,23.53,17.60,None,None,NaN,NaN
11,RF,Bank,age,13284,8885,0.41,66.99,3952,941,3.83,23.81,None,None,NaN,NaN
12,SVM,Census,gender,804328,145226,0.02,18.06,109706,386,9.33,0.35,None,None,NaN,NaN
13,SVM,Census,age,124816,78064,0.05,62.54,81275,2489,1.45,3.06,None,None,NaN,NaN
14,SVM,Census,race,226434,78627,0.05,34.72,62954,277,13.00,0.44,None,None,NaN,NaN
15,SVM,Credit,gender,118428,47570,0.08,40.17,152432,3683,0.98,2.42,None,None,NaN,NaN
16,SVM,Credit,age,21058,9377,0.38,44.53,53344,8419,0.43,15.78,None,None,NaN,NaN
17,SVM,Bank,age,42746,29574,0.12,69.19,31276,41,87.80,0.13,None,None,NaN,NaN